* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Serif, Georgia, 'Times New Roman', Times;
}

html {
    scroll-behavior: smooth;
}
a:visited{
    color:black;
}

a:hover{
    color:#ffffff
}

body {
    background-color: #ff9900;
    text-align: center;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #00cc00;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.logo img{
    height: 450px;
    width: 100%;
    box-align: center;
    
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    list-style: none;
    
}

header nav li{
    display: flex;
    font-size: 20px;
    padding: 5px;
    margin: 0 15px 0 15px;
    scroll-behavior:smooth;
}

.about{
    background-color: white;
    top: 50px;
    padding: 20px 0 20px 0;
    width: 100%;
}

.projects{
    padding: 20px 0 20px 0;
    margin: 0;
    display:flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.project-image1{
    background-image: url('../images/runbuddy.png');
    background-size: cover;
    width: 30%;
    height:200px;
    margin: 10px;
    border: 5px solid;
    border-radius: 7px; 
    opacity: .9;
}

.project-image1:hover{
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: .2s;
}

.project-image2{
    background-image: url('../images/horiseon.png');
    background-size: cover;
    width: 30%;
    height:200px;
    margin: 10px;
    border: 5px solid;
    border-radius: 7px; 
    opacity: .9; 
}

.project-image2:hover{
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: .2s;
}

.project-image3 {
    background-image: url('../images/soon.png');
    background-size: cover;
    background-color: gray;
    width: 30%;
    height:200px;
    margin: 10px;
    display: flex;
    border: 5px solid;
    border-radius: 7px;
}

.project-image3:hover{
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: .2s;
}

.project-image4{
    background-image: url('../images/soon.png');
    background-size: cover;
    background-color: gray;
    width: 30%;
    height:200px;
    margin: 10px;
    display: flex;
    border: 5px solid;
    border-radius: 7px;
}

.project-image4:hover{
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: .2s;
}

.project-image5{
    background-image: url('../images/soon.png');
    background-size: cover;
    background-color: gray;
    width: 30%;
    height:200px;
    margin: 10px;
    display: flex;
    border: 5px solid;
    border-radius: 7px;
}

.project-image5:hover{
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: .2s;
}

.project-image6{
    background-image: url('../images/soon.png');
    background-size: cover;
    background-color: gray;
    width: 30%;
    height:200px;
    margin: 10px;
    display: flex;
    border: 5px solid;
    border-radius: 7px;
}

.project-image6:hover{
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: .2s;
}
.project-text{   
    height: 30%;
    border-style: groove;
    background-color: lightgray;
    vertical-align: text-bottom;
    display: inline-block;
    margin-top: auto;
    text-align: center;
}

.project-text h4{
    border-bottom: 10px;
}

.project-text p{
    font-size: 10px;;
}

.contact-info a{
    color: blue;
}

footer{
    margin: 5px;
}