* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


header {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ff9900;
    color: #ffffff;
}

body {
    background-color: #00cc00;
}
/*#ff9900 for secondary background*/